* {
    box-sizing: border-box;
}

body {
    background-color: darkblue;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 57vh;
    width: 42vw;
}

.square {
    height: 19vh;
    width: 14vw;
    border: 1px solid black;
}

.mole {
    background: url('Taupe.png') content-box  center no-repeat;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}